@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'workmanship Bold',sans-serif;
}

.backgroundcolor {
    position: relative;
    width: 100vw;
    height: 320px;
    background-size: 100% 320px;
    background-repeat: no-repeat;
    background-position: center top;
    overflow-x: hidden;
}

.backgroundcolor.desktop {
    background-image: url("background-pattern-desktop.svg");
    background-size: cover; /* Adjusted to cover */
}

@media (max-width: 374px) { /* Media queries for mobile */
    .backgroundcolor.desktop {
        background-image: url("background-pattern-mobile.svg");
    }
}

.container {
    position: fixed;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Added RGBA for better shadow */
    border-radius: 8px;
    z-index: 1;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}

.question:hover {
    color: #ad28e8;
}

.faq-answer {
    line-height: 20px;
    border-bottom: 1px solid lightpink;
    display: none; /* Changed to flex to handle visibility via JS */
}

.heading {
    display: flex;
    align-items: center;
}

.star {
    width: 20px;
    height: 20px; /* Corrected height */
    margin-right: 10px;
}

.icon {
    display: flex;
    justify-content: center;
}

.minus {
    display: none; /* Ensure minus is hidden by default */
    width: 24px ;
    height: 24px;
}

.plush {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

body {
    background-color: lightpink;
}
